<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call expert</title>
</head>
<body>
    <table border = "1" cellpadding = "5" cellspacing = "5">
        <form action="/call_expert/{{caseId}}/" method="post">{% csrf_token %}
            <tr>
                <td>
                    <p>FIO: </p>
                    <input type="text" name="fio" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Specialty: </p>
                    <input type="text" name="specialty" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Materials: </p>
                    <textarea rows="10" cols="45" name="materials"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Call expert">
                </td>
            </tr>
        </form>
        <tr>
            <td>
                <form action="/process/{{caseId}}/" method="get">
                    <input type="submit" value="Cancel"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>