<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Citizen</title>
</head>
<body>
<h1>Hello, {{man}}!</h1>

    <table border = "1" cellpadding = "5" cellspacing = "5">
        <tr>
            <th>case ID</th>
            <th>judge ID</th>
            <th>judge FIO</th>
       </tr>
       {%for item in listOfCases %}
            <tr>
                <td>
                    <p>{{item.caseId}}</p>
                </td>
                <td>
                    <p>{{item.judge}}</p>
                </td>
                <td>
                    <p>{{item.full_name}}</p>
                </td>
            </tr>
       {%endfor%}
    </table>

    <h2>Opened cases:</h2>
        {%if flag != 0 %}
        <table border = "1" cellpadding = "5" cellspacing = "5">
        <tr>
            <th>case ID</th>
            <th>judge ID</th>
            <th>judge FIO</th>
       </tr>
       {%endif%}
       {%for item in cases %}
            <tr>
                <td>
                    <p>{{item.identifier}}</p>
                </td>
                <td>
                    <p>{{item.state}}</p>
                </td>
                <td>
                    <p>{{item.judge.identifier}}</p>
                </td>
            </tr>
       {%endfor%}
    </table>

    <form action="/citizen/{{man}}/" method="post">{% csrf_token %}
        <p>Choose case by caseId:</p>
        <input type="text" name="caseId" /><br><br>
        <input type="submit" value="Send" />
    </form>
</body>
</html>