<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hearing details</title>
</head>
<body>
    <h3> Add data about hearing: </h3><br>

    <form action="/process/{{caseId}}/" method="post">{% csrf_token %}
        <table border = "1" cellpadding = "5" cellspacing = "5">
            <td>
                <p>Lawyer ID: </p>
                <input type="text" name="lawyerId"/><br>

                <p>Prosecutor ID: </p>
                <input type="text" name="prosecutorId"/><br>

            </td>
            <td>
                <p>Hearing type </p><br>
                <input type="radio" name="open" value="open"> Open <br>
                <input type="radio" name="closed" value="closed"> Closed <br>
            </td>
        </table>
        <br><input type="submit" value="Start hearing" />
    </form>
</body>
</html>