<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welocme</title>
</head>
<body>
    <h1>Hello, secretary!</h1>

    <table border = "1" cellpadding = "5" cellspacing = "5">
        <tr>
            <th>case ID</th>
            <th>judge ID</th>
            <th>judge FIO</th>
       </tr>
       {%for item in listOfCases %}
            <tr>
                <td>
                    <p>{{item.caseId}}</p>
                </td>
                <td>
                    <p>{{item.judge}}</p>
                </td>
                <td>
                    <p>{{item.full_name}}</p>
                </td>
            </tr>
       {%endfor%}
    </table>

    <form action="/hearing/" method="post">{% csrf_token %}
        <p>Write case ID to start hearing and push "Next"</p>
        {% for message in messages %}
                <p>Error: {{message}}</p>
        {% endfor %}
        <input type="text" name="caseId" value=""/><br><br>
        <input type="submit" value="Next" />
    </form>
</body>
</html>