<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Interrogation</title>
</head>
<body>
    <table>
        <form action="/interrogation/{{caseId}}/" method="post">{% csrf_token %}
            <tr>
                <p>FIO of witness: </p>
                <input type="text" name="fio" />
            </tr>
            <tr>
                <p>Reason of call: </p>
                <input type="text" name="cause" />
            </tr>
            <tr>
                <td>
                    <input type="submit" value="start interrogation">
                <td>
            </tr>
        </form>
    </table>
    <table>
        <tr>
            <form action="/interrogation/{{caseId}}/" method="post">{% csrf_token %}
                <td>
                    <input type="text" name="add_question"/>
                </td>
                <td>
                    <input type="submit" value="add_question"/>
                </td>
            </form>
        </tr>

        <tr>
            <form action="/interrogation/{{caseId}}/" method="post">{% csrf_token %}
                <td>
                    <input type="text" name="add_answer"/>
                </td>
                <td>
                    <input type="submit" value="add_answer"/>
                </td>
            </form>
        </tr>

        <tr>
            <td>
                <form action="/interrogation/{{caseId}}/" method="get">{% csrf_token %}
                    <input type="submit" value="Cancel interrogation"/>
                </form>
            </td>

            <td>
                <form action="/process/{{caseId}}/" method="get">{% csrf_token %}
                    <input type="submit" value="Cancel"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>