<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Petition</title>
</head>
<body>
    <table border = "1" cellpadding = "5" cellspacing = "5">
        <form action="/petition/{{caseId}}/" method="post">{% csrf_token %}
            <tr>
                <td>
                    <p>Initiator: </p>
                    <input type="text" name="initiator" />
                </td>
            </tr>
            <tr>
                <td>
                    <p>Theme: </p>
                    <input type="text" name="theme" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Send petition">
                </td>
            </tr>
        </form>
        <tr>
            <td>
                <form action="/process/{{caseId}}/" method="get">
                    <input type="submit" value="Cancel"/>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>