<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Process</title>
</head>
<body>
    <h2>ID of the current case {{caseId}} </h2>
    <table border = "1" cellpadding = "5" cellspacing = "5">
        <tr>
            <td>
                <form action="/call_expert/{{caseId}}/" method="get">{% csrf_token %}
                    <input type="submit" value="Call expert" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/petition/{{caseId}}/" method="get">{% csrf_token %}
                    <input type="submit" value="Send petition" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <form action="/interrogation/{{caseId}}/" method="post">{% csrf_token %}
                    <input type="submit" value="Interrogation of witness" />
                </form>
            </td>
        </tr>
        <tr>
            <td>
                <b><p>Close case</p></b>
                <p>Verdict: </p>
                <form action="/process/{{caseId}}/" method="post">{% csrf_token %}
                    <input type="text" name="verdict"/>
                    <input type="submit" value="Close" />
                </form>
            </td>
        </tr>
    </table>
</body>
</html>