<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose User</title>
</head>
<body>
    <form action="/hello/" method="get">{% csrf_token %}
        <input type="submit" value="Secretary" />
    </form>
    <br>
    <form action="/citizen/" method="post">{% csrf_token %}
        <input type="text" name="cname"/>
        <input type="submit" value=" Login Citizen" />
    </form>
    <br>
    <form action="/citizen/" method="get">{% csrf_token %}
        <input type="submit" value="to Citizen page" />
    </form>
</body>
</html>